@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body{
    background-color: #efefef;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    width: 480px;
    background-color: white;
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.title {
    color: #2066E4;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 25px;
}

label {
    font-size: 20px;
    margin-right: 5px;
}

input {
    width: 100%;
    font-size: 20px;
    border: none;
    background: #fff;
    padding: 8px;
}
.calculator_value{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-bottom: 25px;
}
.calculator_value input{
    padding: 10px;
    border-radius: 5px;
    background-color: #efefef;
    border: none;
    outline: none;
    width: 100%;
}
.calculator_value label{
    white-space: nowrap;
}
.inputs{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.calculator_input {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    width: 48%;
}
.calculator_input label{
    margin-right: 5px;
}
.calculator_input select{
    padding: 10px;
    border-radius: 5px;
    background-color: #efefef;
    border: none;
    outline: none;
    width: 100%;
}
.result_area{
    display: flex;
    align-items: center;
}
.result_area input{
    padding: 10px;
    border-radius: 5px;
    background-color: #efefef;
    border: none;
    outline: none;
    width: 100%;
}
button.cal-btn {
    width: 100%;
    padding: 18px 12px;
    border: none;
    background: #2066E4;;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    border-radius: 0.7rem;
    margin-top: 25px;
}
